<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TraveLineTransitServices.Properties.Settings.TraveLineTransitServicesConnectionString"
            connectionString="Data Source=STD04\SQL2000PERSONAL;Initial Catalog=TraveLineTransitServices;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>